@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  font-family: "Poppins", sans-serif;
  padding: 3% 7%;
  // background: linear-gradient(to right, #ff4b2b, #ff416c);
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid black;
  &__logo {
    img {
      height: 55px;
      padding-left: 1rem;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    &_uname {
      font-size: 1.2rem;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  &__keybox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &_heading {
      font-size: 1.2rem;
      font-weight: 600px;
      opacity: 0.6;
      padding-left: 0.6rem;
    }
    &_key {
      p {
        background-color: #f6f6f6;
        border-radius: 10px;
        padding: 1rem;
      }
    }
  }
}
