<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashbord</title>
    <link rel="stylesheet" href="profile.css" />
    <script
      src="https://kit.fontawesome.com/05a7697907.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="header__logo">
          <img src="/img/logo.png" alt="logo" />
        </div>
        <div class="header__user">
          <div class="header__user_uname">Vaibhav Sanepara</div>
          <div class="header__user_img">
            <img src="/img/user.png" alt="user" />
          </div>
        </div>
      </header>
      <div class="container">
        <div class="container__keybox">
          <p class="container__keybox_heading">Access key</p>
          <div class="container__keybox_key">
            <p>
              eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiVkFJQkhBViBTQU5FUEFSQSIsImlhdCI6MTY3NDk3NDYzNH0.6ByQNcVhPEHQfL9AhQHgQ3MRTKn1zxeE6c_5a00eBRI
            </p>
          </div>
        </div>
        <div class="container__services">
          <div class="container__services_box">
            <img src="/img/qrcode.png" alt="qrcode" />
            <p>URL to QRCODE</p>
            <p>This api help you to convert any url into qrcode</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
