<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon" />
    <title>The Flow</title>
    <link rel="stylesheet" href="home.css" />
    <script
      src="https://kit.fontawesome.com/05a7697907.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header__logo"><img src="/img/logo.png" alt="logo" /></div>
        <div class="header__nav">
          <ul>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
        <div class="header__links">
          <div class="header__links_social-logo">
            <i class="fa-brands fa-github"></i>
          </div>
          <div class="header__links_social-logo">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="header__links_btn">
            <a href="/auth">Log in</a>
          </div>
        </div>
      </header>
      <div class="subhero">
        <div class="subhero__left">
          <img src="/img/hero.png" alt="" />
        </div>
        <div class="subhero__right">
          <div class="subhero__right_content">
            <h2>FLOW</h2>
            <h2>THROUGH</h2>
            <h2>API's</h2>
            <p>
              HTTP is making APIs simple and intutive for thos building the
              tools of our time
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
