<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Flow</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div class="container">
      <div class="container_left">
        <form class="form">
          <p class="form__welcome">Welcome Back !</p>
          <p class="form__welcome_line">
            welcome back ! please enter you details
          </p>
          <label for="email">Email</label><br />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter you email"
            autocomplete="off"
          /><br />
          <label for="password">Password</label><br />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="**********"
            autocomplete="off"
          /><br />
          <p class="form__forget_pass">
            <a href="#">Forget password</a>
          </p>
          <button class="form__sign_btn button">Sign in</button>
          <a class="form__google_btn button" href="auth/google">
            <img src="/img/google.png" />Sign in with google
          </a>
          <div class="form__newaccount">
            <span>Don't have an account ?</span>
            <span>&nbsp; <a href="#">Sign up</a></span>
          </div>
        </form>
      </div>
      <div class="container_right">
        <img src="/img/login.gif" alt="login" />
      </div>
    </div>
    <script>
      const redirect = function () {
        console.log("HELLO WORLD ");
      };
    </script>
  </body>
</html>
