@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main {
  font-family: "Poppins", sans-serif;
  padding: 3% 7%;
  min-height: 100vh; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo img {
    height: 60px; }
  .header__user {
    display: flex;
    align-items: center;
    gap: 1.2rem; }
    .header__user_uname {
      font-size: 1.2rem; }
